.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.app-body {
  margin: 5%;
}

.navbar {
  background-color: darkblue;
  padding: 20px 5%;
  display: block;
}

.navbar a {
  margin-right: 2%;
  font-size: medium;
  color: white;
}

.navbar a:hover {
  background-color: black;
  color: blanchedalmond;
}

.team p:hover {
  background-color: black;
  color: white;
}

.games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.individualGame {
  border: 1px solid black;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.stadiumImage {
  width: 30%;
  float: right;
}

.right {
  text-align: right;
}

.centered {
  text-align: center;
}

.gameHolder {
  display: flex;
  justify-content: center;
}

.oneGame {
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
  align-self: center;
}

th, td {
  padding: 15px;
  text-align: left;
  border: 1px solid black;
}

.logo {
  height: 15vmin;
  pointer-events: none;
}

.gameHolder {
  width: 60%;
}
